[Unit]
Description=MiBand2 Server and API

[Service]
Type=idle
WorkingDirectory=/home/miband2server/PyBand2
ExecStartPre=/usr/local/bin/blescan -t 1
ExecStart=/home/miband2server/PyBand2/mb2api.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=miband2server
User=root
Group=root

[Install]
WantedBy=multi-user.target
